JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=change-me
JENKINS_URL=http://localhost:9090/
REPO_URL=https://github.com/ZeraFallen/ticket-system.git
TICKET_DB_ROOT_PASSWORD=change-me-root
TICKET_DB_PASSWORD=change-me-app
